body {

    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.skip {


    color: orange;
}

.half-top {

    width: 50%;
    margin: 70px;


}

.half-top a {

    text-decoration: none;
    background-image: linear-gradient(to right, red, tomato);
    border-radius: 50px;
    padding: 20px;


}

.half-top-rt {

    width: 50%;
    margin: 50px;

}

.half-mid-lt {
    width: 50%;
    margin: 50px;


}



.half-top-rt img {

    width: 100%;


}

.half-mid-lt img {

    width: 70%;



}

.top-ban {

    display: flex;

}

.mid-ban {

    display: flex;
    background-image: url("images/frm.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    border: 2px solid green;
    height: auto;
    margin: 0;
}

h1 {
    font-size: 50px;
    font-weight: 900;
}

p {

    font-size: 20px;
}


.half-mid {

    width: 50%;
    margin: 70px;


}

.half-mid a {

    text-decoration: none;
    background-image: linear-gradient(to right, red, tomato);
    border-radius: 50px;
    padding: 20px;


}